/* Base Application Styles */
body {
  color: #fff;
  background: #222;
}

.index img {
  margin: 40px auto;
  border-radius: 4px;
  background: #fff;
  display: block;
}

.index .notice {
  margin: 20px auto;
  padding: 15px 0;
  text-align: center;
  border: 1px solid #000;
  border-width: 1px 0;
  background: #666;
}
.user label,.password label{
  width: 60px;
  font-size: 16px;
  color: #fff;
  font-family: "微软雅黑";
  line-height: 1.5;
  display: inline-block;
  margin:5px 0;
}
.user input,.password input{
    width: 200px;
    height: 20px;
}
.btn button{
  width: 100px;
  height: 30px;
  border: none;
  color: #ff5100;
  background: #fff;
  margin: 5px;
}
